main {
    margin-top: 1rem;
}

main img {
    width: 100%;
    height: auto;
}

main h2 {
    margin-bottom: 0;
}

aside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

aside::last-child {
    margin-right: 0;
}

.seating {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.stage-block {
    text-align: center;
    background-color: brown;
    color: white;
    font-weight: bold;
    height: 40px;
}

.seating table {
    border: 3px solid black;
    margin-bottom: 2rem;
}

.seating .s input {
    display: none;
}

.seating .s label {
    cursor: pointer;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: sienna;
    margin: 5px;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 0 1px sienna;
    position: relative;
    user-select: none;
}

.seating .s label .sn {
    text-align: center;
    font-size: smaller;
}

.seating .s input:disabled + label {
    cursor: not-allowed;
    background-color: gray;
}
.seating .s input:not(:disabled):checked + label {
    background-color: greenyellow;
    box-shadow: 0 0 1px greenyellow;
}

.error {
    color: red;
    font-weight: bold;
}
.rpl {
    width: 30px;
    margin: 5px;
    text-align: right;
}
.lpl {
    width: 30px;
    margin: 5px;
    text-align: left;
}
