body {
    margin: 0;
}
header {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a {
    text-decoration: none;
    color: black;
}
.user-modal {
    display: flex;
    gap: 10px;
    align-items: baseline;
}
main {
    max-width: 640px;
    margin: 0 auto;
}
.ticket,
.event {
    display: flex;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: black;

    max-width: 600px;
}
.ticket-details {
    display: grid;
    grid-template-columns: 1fr 1fr 8rem;
    width: 100%;
    align-items: center;
}
.ticket-details * {
    margin: 0;
    display: inline-block;
}
.event {
    display: flex;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 6rem;
    text-decoration: none;
    color: black;

    max-width: 600px;
}
.event img {
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-right: 10px;
}
.event-details {
    display: grid;
    grid-template-columns: 1fr 1fr 8rem;
    width: 100%;
}
.event-name h2 {
    margin-bottom: 0;
}
.event-name h6 {
    margin-top: 0;
    color: #666;
}
.event-location {
    justify-self: center;
    display: flex;
    align-items: center;
}
.event-price {
    justify-self: end;
    display: flex;
    align-items: end;
}

svg {
    width: 100%;
    height: auto;
}
